<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../assets/images/icon_video.png" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form autocomplete="off" #data="ngForm" (ngSubmit)="loguear(data)">
            <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Usuario" ngModel required>
            <input type="text" id="password" class="fadeIn third" name="contrasena" placeholder="Contraseña" ngModel required>
            <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover">App para videollamadas</a>
        </div>

    </div>
</div>