<div class="container-fluid">
    <div class="modal-body">
        <div class="row justify-content-center align-items-center mb-3">
            <input class="form-control mr-3 col-4 text-center" type="text" value="LUCIA NUÑEZ" disabled>
            <button class="btn btn-success mr-3 col-2" id="btnIniciar" (click)="this.comenzarTransmision()" #btnIniciar>Comenzar transmisión</button>
            <button class="btn btn-danger col-2" id="btnDetener" disabled #btnDetener> Detener transmisión </button>
        </div>
        <div class="row justify-content-center" *ngIf="!this.hasOffer">
            <div class="alert alert-danger col-8" role="alert">
                ¡El usuario no se encuentra conectado!
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <video class="col-3" id="videoLocal" autoplay controls="true" #videoLocal></video>
            <video class="col-7" id="videoRemoto" autoplay controls="true" #videoRemoto></video>
        </div>
    </div>

</div>
<div class="container-fluid" *ngIf="false">
    <div class="jumbotron jumbotron-fluid mt-3">
        <div class="container">
            <h1 class="display-4">Atención</h1>
            <p class="lead">El usuario no está conectado.</p>
        </div>
    </div>
</div>